{% load qa_tags %}

<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>Q&A</title>
</head>
<body>
	<div><p>
		<a href="{% url 'qa:index' %}">Q&A</a> | 
		<a href="{% url 'qa:ask' %}">Ask!</a> | 
		{% if user.is_authenticated %}
			<span>{{ user.username }}</span> | 
			<a href="">Settings</a> | 
			<a href="{% url 'users:logout' %}">Log out</a>
		{% else %}
			<a href="{% url 'users:login' %}">Lig in</a> | 
			<a href="{% url 'users:signup' %}">Register</a>
		{% endif %}
	</p></div>
	<hr>
	{% show_popular_tags %}
	<div>
		{% block content %}{% endblock content %}
	</div>
</body>
</html>